<form [formGroup]="userForm" (ngSubmit)='onSubmit()' novalidate>

  <div>
    <label for="">Nombre:</label>
    <input type="text" formControlName='name' required>
  </div>


  <div>
    <label for="">Appelido</label>
    <input type="text" formControlName='lastname' required>
  </div>

  <div>
    <label for="">Fecha de nacimiento</label>
    <input type="text" placeholder='dia/mes/anio' formControlName='age' required>
  </div>

  <div>
    <label for="">Email</label>
    <input type="text" formControlName='email' required>
  </div>

  <div>
    <label for="">Cedula</label>
    <input type="text" formControlName='cc' required>
  </div>

  <div>
    <label for="">Salario:</label>
    <input type="text" formControlName='salary' required>
  </div>

  <div>
    <label for="">Estado:</label>
    <select name="select" id="" formControlName='state' required>
      <option value="activo">Activo</option>
      <option value="inactivo">Inactivo</option>
    </select>
  </div>

  <button [disabled]="!userForm.valid">Guardar</button>


</form>